*{
    margin: 0%;
    padding: 0%;
}
nav ul{
    height: 70px;
    background-color: rgba(145, 98, 54, 0.692);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    color: white;
}
ul li a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.texto{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
header{
    display: flex;
}
.sobre h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    margin-top: 20%;
}
img{
    display: flex;
   width: 250px; 
   border-radius: 50%;
   margin-left: 120%;
   margin-top: -20%;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 99px;
    margin-top: 5%;
    color: white;
    background-color: rgba(145, 98, 54, 0.692);
}
